.cascoms {
    display: flex;
}

.cascoms-column {
    flex-direction: column;
    width: fit-content !important;
}

.cascoms-row {
    flex-direction: row;
    height: fit-content !important;
}

.cascom {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-left: 0;
}

.cascom-title {
    display: flex;
    flex-direction: row;
    width: fit-content;
}

.cascom-title-label {
    font-size: 0.9rem !important;
    color: #000;
    margin-right: 0.3rem;
    margin-left: auto;
    font-weight: 600;
    color: #666;
}

.cascom-sel {
    display: flex;
    flex-direction: row;
    margin: 0 auto 0.5rem 0;
}

.cascom-select {
    appearance: unset !important;
    -webkit-appearance: revert !important;
    background: none !important;
    padding: 8px 5px;
    font-size: 0.9rem !important;
    box-shadow: none !important;
    border: 1px solid #ccc !important;
    margin: 5px 0 !important;
    color: #000 !important;
}

.cascom-select option {
    color: #000;
}